# AWS
boto3
aws_lambda_powertools

# Web app
flask
Flask-Session
Authlib
requests
xero-python
Flask-WTF

# Shared
-e ../common

# Other
pydantic
dotenv
openpyxl
pypdf
redis
gunicorn
stripe
markdown
pyyaml
