# AWS
boto3
boto3-stubs[essential]
boto3-stubs[textract]
mypy_boto3_ssm
aws_lambda_powertools

# Item count validation
pdfplumber

# Outlier detection
scikit-learn
numpy

# Web app
flask
requests
xero-python

# Other
pandas
pydantic
dotenv