# AWS
boto3
boto3-stubs[essential]
boto3-stubs[textract]
mypy_boto3_ssm
aws_lambda_powertools

# Item count validation
pdfplumber

# Outlier detection
scikit-learn
numpy

# Web app
flask
flask-caching
Flask-Session
requests
xero-python
Flask-WTF

# Textraction
amazon-textract-textractor

# Testing
pytest

# Other
pandas
pydantic
dotenv
openpyxl
